<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.limc.androidcharts"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="6"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- android:name="cn.limc.androidcharts.AndroidChartsActivity" -->
        <activity
            android:name="cn.limc.androidcharts.AndroidChartsActivity"
             android:label="@string/app_name"  >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.ChartListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            

        </activity>
        <activity
            android:name="cn.limc.demo.activity.GridChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.LineChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.SlipLineChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.SlipAreaChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.SlipBandAreaChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.StickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.SlipStickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.ColoredSlipStickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.MAStickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.MASlipStickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.MinusStickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.SlipMinusStickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.CandleStickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.SlipCandleStickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.MACandleStickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.MASlipCandleStickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.BOLLMASlipCandleStickChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.MACDChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.PieChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.RoseChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.SpiderWebChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.RadarChartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cn.limc.demo.activity.DonutChartActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>